ul {
  list-style-type: disc;
  margin-left: 1em;
  margin-bottom: 1em;
}

ul > li {
  list-style: disc;
}

li > p {
  margin-bottom: 0px;
}

.strike {
  text-decoration: line-through;
}

blockquote {
  font-style: italic;
}
